{% extends 'base.html' %}

{% block title %}Apply for Job - Job Portal{% endblock %}

{% block content %}

<div class="form-box">

    <h2>Apply for {{ job.title }}</h2>

    <p>
        <strong>Company:</strong>
        {{ job.company.name }}
    </p>

    <form method="post">

        {% csrf_token %}

        <label>Resume</label>
        <textarea name="resume" rows="5" required></textarea>

        <label>Cover Letter</label>
        <textarea name="cover_letter" rows="7" required></textarea>

        <button type="submit" class="btn">
            Submit Application
        </button>

    </form>

</div>

{% endblock %}